@page "/activities/create"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize]

@using SunsetSchedule.Models
@using SunsetSchedule.Components.Shared

@inject AuthenticationStateProvider AuthStateProvider

@inject ActivityService ActivityService
@inject NavigationManager Nav


<p>DEBUG AUTH STATE:</p>
<h3>Create Activity</h3>

<Alert Message="@errorMessage" Type="AlertType.Error" />

<ActivityForm Model="@activity" OnSave="CreateActivity" ButtonText="Create" />

@code {
    private Activity activity = new();
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        var state = await AuthStateProvider.GetAuthenticationStateAsync();
        Console.WriteLine($"Authenticated: {state.User.Identity?.IsAuthenticated}");
    }

    private async Task CreateActivity(Activity activity)
    {
        var result = await ActivityService.CreateAsync(activity);

        if (!result.Success)
        {
            errorMessage = result.Error;
            return;
        }

        Nav.NavigateTo("/activities");
    }
}