@page "/activities/create"
@rendermode InteractiveServer

@using SunsetSchedule.Models

@inject IWebHostEnvironment Environment

@inject ActivityService ActivityService
@inject NavigationManager Nav

<h3>Create Activity</h3>

<ActivityForm Model="@activity" OnSave="CreateActivity" ButtonText="Create" />

@code {
    private Activity activity = new();

    private async Task CreateActivity(ActivityFormData data)
    {
        await ActivityService.CreateAsync(data.Activity);

        Nav.NavigateTo("/activities");
    }
}