@page "/activities/create"

<div class="page">

    <div class="content">

        <div class="form">

            <h1>Let's create activity</h1>

            <label>Name</label>
            <input />

            <label>Type</label>
            <select>
                <option>Indoor</option>
                <option>Outdoor</option>
                <option>Either</option>
            </select>

            <label>Location</label>
            <input />

            <label>Time</label>
            <input />

            <label>Data</label>
            <input />

            <button>
                Add Event
            </button>

        </div>

        <div class="help">
            <p>You dont know what to do?</p>
            <p>Let us help you</p>
        </div>

    </div>

</div>