@using SunsetSchedule.Models

<div class="mb-2 border p-2">
    @if (!string.IsNullOrEmpty(Activity.MainImagePath))
    {
        <img src="@Activity.MainImagePath" class="img-fluid" alt="@Activity.Name" />
    }
    
    <strong>@Activity.Name</strong>

    <button class="btn btn-primary ms-2" @onclick="() => OnEdit.InvokeAsync(Activity.Id)">
        Edit
    </button>

    <button class="btn btn-danger ms-2" @onclick="() => OnDelete.InvokeAsync(Activity.Id)">
        Delete
    </button>
</div>

@code {
    [Parameter] public Activity Activity { get; set; } = new();

    [Parameter] public EventCallback<int> OnDelete { get; set; }
    [Parameter] public EventCallback<int> OnEdit { get; set; }
}